<div class="page">
  <div class="page-header">
    <h2>Information du {{ origin() }}</h2>
  </div>

  <div class="alert alert-danger" *ngIf="erreursGenerales.length > 0">
    <div *ngFor="let msg of erreursGenerales">{{ msg }}</div>
  </div>

  <div class="card custom-border p-3">
    <button type="button" class="photo-upload" (click)="fileInput.click()" aria-label="Changer la photo">
      <img [src]="imgUrl" class="profil-avatar profil-avatar-lg" alt="Photo" />
      <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)">
    </button>

    <form>
      <div class="form-grid-2">
        <div>
          <input type="text" class="form-control" placeholder="Nom" name="nom" [ngClass]="classeErreur('nom')" [(ngModel)]="clientFournisseur.nom">
          <div *ngFor="let msg of erreurDe('nom')"><p class="field-error">{{ msg }}</p></div>
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Adresse 1" name="adresse1" [ngClass]="classeErreur('adresse1')" [(ngModel)]="adresseDto.adresse1">
          <div *ngFor="let msg of erreurDe('adresse1')"><p class="field-error">{{ msg }}</p></div>
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Prenom" name="prenom" [ngClass]="classeErreur('prenom')" [(ngModel)]="clientFournisseur.prenom">
          <div *ngFor="let msg of erreurDe('prenom')"><p class="field-error">{{ msg }}</p></div>
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Adresse 2" name="adresse2" [ngClass]="classeErreur('adresse2')" [(ngModel)]="adresseDto.adresse2">
          <div *ngFor="let msg of erreurDe('adresse2')"><p class="field-error">{{ msg }}</p></div>
        </div>
        <div>
          <input type="email" class="form-control" placeholder="E-mail" name="email" [ngClass]="classeErreur('mail')" [(ngModel)]="clientFournisseur.mail">
          <div *ngFor="let msg of erreurDe('mail')"><p class="field-error">{{ msg }}</p></div>
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Ville" name="ville" [ngClass]="classeErreur('ville')" [(ngModel)]="adresseDto.ville">
          <div *ngFor="let msg of erreurDe('ville')"><p class="field-error">{{ msg }}</p></div>
        </div>
        <div>
          <input type="tel" class="form-control" placeholder="Telephone" name="numtel" [ngClass]="classeErreur('numTel')" [(ngModel)]="clientFournisseur.numTel">
          <div *ngFor="let msg of erreurDe('numTel')"><p class="field-error">{{ msg }}</p></div>
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Code postal" name="codepostal" [ngClass]="classeErreur('codePostale')" [(ngModel)]="adresseDto.codePostale">
          <div *ngFor="let msg of erreurDe('codePostale')"><p class="field-error">{{ msg }}</p></div>
        </div>
        <span></span>
        <div>
          <input type="text" class="form-control" placeholder="Pays" name="pays" [ngClass]="classeErreur('pays')" [(ngModel)]="adresseDto.pays">
          <div *ngFor="let msg of erreurDe('pays')"><p class="field-error">{{ msg }}</p></div>
        </div>
      </div>
    </form>
  </div>

  <div class="form-actions mt-2">
    <button class="btn btn-secondary" (click)="cancelClick()">Annuler</button>
    <button class="btn btn-primary" (click)="enregistrer()">Enregistrer</button>
  </div>
</div>
